target/
.git/
.idea/
.settings/
*.iml
*.log
.env
.env.*
src/main/resources/application-local.properties
src/main/resources/application-secret.properties
src/main/resources/application-prod.properties
